<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :parish %><br>
    <select name="user[parish]">
    <option></option>
    <option>Saint Helier</option>
    <option>Grouville</option>
    <option>St Brelade</option>
    <option>St Clement</option>
    <option>St Clement</option>
    <option>St John</option>
    <option>St Lawrence</option>
    <option>St Martin</option>
    <option>St Mary</option>
    <option>St Ouen</option>
    <option>St Peter</option>
    <option>St Saviour</option>
    <option>Trinity</option>
    </select>
  </div>
  <div class="field">
    Road name or <%= f.label :postcode %><br>(if co-ordinates are known leave this field blank)<br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= hidden_field_tag "user[category_ids][]", nil %>
    <% Category.all.each do |category| %>
      <%= check_box_tag "user[category_ids][]", category.id,
       @user.category_ids.include?(category.id), id: dom_id(category) %>
      <%= label_tag dom_id(category), category.name %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit 'Create User', :class => 'btn' %>
  </div>
<% end %>
