<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :parish %><br>
    <select name="user[parish]">
    <option></option>
    <option>Saint Helier</option>
    <option>Grouville</option>
    <option>St Brelade</option>
    <option>St Clement</option>
    <option>St Clement</option>
    <option>St John</option>
    <option>St Lawrence</option>
    <option>St Martin</option>
    <option>St Mary</option>
    <option>St Ouen</option>
    <option>St Peter</option>
    <option>St Saviour</option>
    <option>Trinity</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= check_box("user", "category") %>
    <%= label_tag("alcohol", "Alcohol") %>
    <%= check_box("user", "category") %>
    <%= label_tag("aqua_culture", "Aqua Culture") %>
    <%= check_box("user", "category") %>
    <%= label_tag("art_and_craft", "Art & Craft") %>
    <%= check_box("user", "category") %>
    <%= label_tag("books_and_publishing", "Books & Publishing") %>
    <%= check_box("user", "category") %>
    <%= label_tag("bread", "Bread") %>
    <%= check_box("user", "category") %>
    <%= label_tag("cakes_and_home_baking", "Cakes & Home Baking") %>
    <%= check_box("user", "category") %>
    <%= label_tag("cards", "Cards") %>
    <%= check_box("user", "category") %>
    <%= label_tag("confectionary", "Confectionary") %>
    <%= check_box("user", "category") %>
    <%= label_tag("dairy", "Dairy") %>
    <%= check_box("user", "category") %>
    <%= label_tag("eggs", "Eggs") %>
    <%= check_box("user", "category") %>
    <%= label_tag("fish_and_shellfish", "Fish & Shellfish") %>
    <%= check_box("user", "category") %>
    <%= label_tag("flowers_and_plants", "Flowers & Plants") %>
    <%= check_box("user", "category") %>
    <%= label_tag("fragrance", "Fragrance") %>
    <%= check_box("user", "category") %>
    <%= label_tag("fruit", "Fruit") %>
    <%= check_box("user", "category") %>
    <%= label_tag("glasswork", "Glasswork") %>
    <%= check_box("user", "category") %>
    <%= label_tag("herbs", "Herbs") %>
    <%= check_box("user", "category") %>
    <%= label_tag("horticultural_goods", "Horticultural Goods") %>
    <%= check_box("user", "category") %>
    <%= label_tag("jersey_royals", "Jersey Royals") %>
    <%= check_box("user", "category") %>
    <%= label_tag("jewellery", "Jewellery") %>
    <%= check_box("user", "category") %>
    <%= label_tag("logs", "Logs") %>
    <%= check_box("user", "category") %>
    <%= label_tag("meat", "Meat") %>
    <%= check_box("user", "category") %>
    <%= label_tag("metalwork", "Metalwork") %>
    <%= check_box("user", "category") %>
    <%= label_tag("music", "Music") %>
    <%= check_box("user", "category") %>
    <%= label_tag("organic", "Organic") %>
    <%= check_box("user", "category") %>
    <%= label_tag("painting", "Painting") %>
    <%= check_box("user", "category") %>
    <%= label_tag("pasta", "Pasta") %>
    <%= check_box("user", "category") %>
    <%= label_tag("photographs", "Photographs") %>
    <%= check_box("user", "category") %>
    <%= label_tag("pottery_and_ceramics", "Pottery and Ceramics") %>
    <%= check_box("user", "category") %>
    <%= label_tag("preserves_and_honey", "Preserves and Honey") %>
    <%= check_box("user", "category") %>
    <%= label_tag("ready_meals", "Ready Meals") %>
    <%= check_box("user", "category") %>
    <%= label_tag("stone", "Stone") %>
    <%= check_box("user", "category") %>
    <%= label_tag("textiles", "Textiles") %>
    <%= check_box("user", "category") %>
    <%= label_tag("toys", "Toys") %>
    <%= check_box("user", "category") %>
    <%= label_tag("vegetables", "Vegetables") %>
    <%= check_box("user", "category") %>
    <%= label_tag("wood_and_mulch", "Wood & Mulch") %>
    <%= check_box("user", "category") %>
    <%= label_tag("woodwork_and_furniture", "Woodwork & Furniture") %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
