<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :parish %><br>
    <select name="user[parish]">
    <option></option>
    <option>Saint Helier</option>
    <option>Grouville</option>
    <option>St Brelade</option>
    <option>St Clement</option>
    <option>St Clement</option>
    <option>St John</option>
    <option>St Lawrence</option>
    <option>St Martin</option>
    <option>St Mary</option>
    <option>St Ouen</option>
    <option>St Peter</option>
    <option>St Saviour</option>
    <option>Trinity</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :postcode %><br>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <input id="alcohol" name="user[category]" type="checkbox" value="alcohol" />
    <label for="alcohol">Alcohol</label>
    <input id="aqua_culture" name="user[category]" type="checkbox" value="aqua_culture" />
    <label for="aqua_culture">Aqua-culture</label>
    <input id="art_and_craft" name="user[category]" type="checkbox" value="art_and_craft" />
    <label for="art_and_craft">Art & Craft</label>
    <input id="books_and_publishing" name="user[category]" type="checkbox" value="books_and_publishing" />
    <label for="books_and_publishing">Books & Publishing</label>
    <input id="bread" name="user[category]" type="checkbox" value="bread" />
    <label for="bread">Bread</label>
    <input id="cakes_and_home_baking" name="user[category]" type="checkbox" value="cakes_and_home_baking" />
    <label for="cakes_and_home_baking">Cakes & Home Baking</label>
    <input id="confectionary" name="user[category]" type="checkbox" value="confectionary" />
    <label for="confectionary">Confectionary</label>
    <input id="dairy" name="user[category]" type="checkbox" value="dairy" />
    <label for="dairy">Confectionary</label>
    <input id="eggs" name="user[category]" type="checkbox" value="eggs" />
    <label for="eggs">Eggs</label>
    <input id="fish_and_shellfish" name="user[category]" type="checkbox" value="fish_and_shellfish" />
    <label for="fish_and_shellfish">Fish & Shellfish</label>
    <input id="flowers_and_plants" name="user[category]" type="checkbox" value="flowers_and_plants" />
    <label for="flowers_and_plants">Flowers & Plants</label>
    <input id="fragrance" name="user[category]" type="checkbox" value="fragrance" />
    <label for="fragrance">Fragrance</label>
    <input id="fruit" name="user[category]" type="checkbox" value="fruit" />
    <label for="fruit">Fruit</label>
    <input id="glasswork" name="user[category]" type="checkbox" value="glasswork" />
    <label for="glasswork">Glasswork</label>
    <input id="herbs" name="user[category]" type="checkbox" value="herbs" />
    <label for="herbs">Herbs</label>
    <input id="horticultural_goods" name="user[category]" type="checkbox" value="horticultural_goods" />
    <label for="horticultural_goods">Horticultural Goods</label>
    <input id="jersey_royals" name="user[category]" type="checkbox" value="jersey_royals" />
    <label for="jersey_royals">Jersey Royals</label>
    <input id="jewellery" name="user[category]" type="checkbox" value="jewellery" />
    <label for="jewellery">Jewellery</label>
    <input id="logs" name="user[category]" type="checkbox" value="logs" />
    <label for="logs">Logs</label>
    <input id="meat" name="user[category]" type="checkbox" value="meat" />
    <label for="meat">Meat</label>
    <input id="metalwork" name="user[category]" type="checkbox" value="metalwork" />
    <label for="metalwork">Metalwork</label>
    <input id="music" name="user[category]" type="checkbox" value="music" />
    <label for="music">Music</label>
    <input id="organic" name="user[category]" type="checkbox" value="organic" />
    <label for="organic">Organic</label>
    <input id="painting" name="user[category]" type="checkbox" value="painting" />
    <label for="painting">Painting</label>
    <input id="pasta" name="user[category]" type="checkbox" value="pasta" />
    <label for="pasta">Pasta</label>
    <input id="photographs" name="user[category]" type="checkbox" value="photographs" />
    <label for="photographs">Photographs</label>
    <input id="pottery_and_ceramics" name="user[category]" type="checkbox" value="pottery_and_ceramics" />
    <label for="pottery_and_ceramics">Pottery & Ceramics</label>
    <input id="preserves_and_honey" name="user[category]" type="checkbox" value="preserves_and_honey" />
    <label for="preserves_and_honey">Preserves & Honey</label>
    <input id="ready_meals" name="user[category]" type="checkbox" value="ready_meals" />
    <label for="ready_meals">Ready Meals</label>
    <input id="stone" name="user[category]" type="checkbox" value="stone" />
    <label for="stone">Stone</label>
    <input id="textiles" name="user[category]" type="checkbox" value="textiles" />
    <label for="textiles">Textiles</label>
    <input id="toys" name="user[category]" type="checkbox" value="toys" />
    <label for="toys">Toys</label>
    <input id="vegetables" name="user[category]" type="checkbox" value="vegetables" />
    <label for="vegetables">Vegetables</label>
    <input id="wood_and_mulch" name="user[category]" type="checkbox" value="wood_and_mulch" />
    <label for="wood_and_mulch">Wood & Mulch</label>
    <input id="woodwork_and_furniture" name="user[category]" type="checkbox" value="woodwork_and_furniture" />
    <label for="woodwork_and_furniture">Woodwork & Furniture</label>
    <input id="pottery_and_ceramics" name="user[category]" type="checkbox" value="pottery_and_ceramics" />
    <label for="pottery_and_ceramics">Pottery and Ceramics</label>
    <input id="preserves_and_honey" name="user[category]" type="checkbox" value="preserves_and_honey" />
    <label for="preserves_and_honey">Preserves and Honey</label>

  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
