<!DOCTYPE html>
<html>
<head>
  <title>Genuine Jersey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="admin-btn"><%= button_to "Admin Login", users_path, :method => "get"%></div>
<nav id="admin-nav">
<%= nav_link_to 'Full Screen Map', root_path %>
<%= nav_link_to 'View Vendors', users_path %>
<%= nav_link_to 'New Vendor', new_user_path %>
<%= nav_link_to 'Categories', categories_path %>
<%= nav_link_to 'New Category', new_category_path %>
</nav>
<%= yield %>
</body>
</html>
